{{ if gt .Paginator.TotalPages 1 }}
 
<nav class="pb-32 flex">

    {{ if .Paginator.HasPrev }}
    <div class="w-1/2">
        <a class="" title="Previous Page" href="{{ .Paginator.Prev.URL }}#stories">
                &larr; Previous
        </a>
    </div>
    {{ end }}


    {{ if .Paginator.HasNext }}
    <div class="w-1/2 text-right">
        <a class="" title="Next Page" href="{{ .Paginator.Next.URL }}#stories">
           Next &rarr;
        </a>
    </div>
    {{ end }}



</nav>
 
{{ end }}