<!-- text and image-->
<section class="bg-gray-300 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">


        <div class="flex content-center flex-wrap">
            <div class="lg:w-1/2">
                  <img src="img/home-about-section.jpg" alt="" class="block">
            </div>
            <div class="lg:w-1/2 text-center lg:pt-24 p-10 lg:p-0">
              <div class="lg:p-24">
                  <h2 class="lg:text-3xl font-thin pb-2">
                      {{.heading}}
                    </h2>
                    <p class="mt-2 leading-normal pb-8 text-gray-600">
                    {{.text}}
                    </p>
                    <p class="pt-2">
                      <a href="{{.buttonLink}}" class="bg-black hover:opacity-75 text-white px-8 py-4">
                        {{.buttonText}}
                      </a>
                    </p>
              </div>
            </div>
      </div>


</section>