{{ define "main" }}


  <div class="container mx-auto pt-32">
      <a href="/post#stories" class="pt-3 pb-8">← Back</a>
    <div class="pb-24 lg:px-24">
        <h2 class="text-3xl font-thin pb-1">{{.Title}}</h2>
        <p class="text-gray-800 text-sm pb-1">{{ .Description }}</p>
        <div class="text-gray-600 text-xs pb-8">
            <p>{{ .Date.Format "Mon, Jan 2, 2006" }} | Read in {{ .ReadingTime }} minutes</p>
        </div>

        <div class="">
            {{ if .Params.image }}<img class="" src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
        </div>

          <div class="text-gray-700 mt-8 leading-relaxed"> 
            {{ .Content }}
          </div>
      </div>
    
      
  </div>



{{ end }}
