{{ define "main" }}

<div class="">
	<div class="container mx-auto pt-32">

		<img src="{{ .Params.logo }}" alt="" class="w-24 mb-8 mt-10">
		<div class="leading-normal divt-8 text-gray-600">
			{{ .Content }}
		</div>

		<div class="mt-10 pb-20">
	        	{{ range .Params.contact_entries }}
				<div class="leading-normal">
					<h4 class="pt-5 text-2xl">{{ .heading }}</h4>
					<p class="pb-5">{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
